body{
    font-family: "Open Sans", sans-serif;
    background-color: rgba(12, 8, 10, 0.945);
    color: #ffffffff;
}

h1, h2, h3{
    font-family: "Lobster", cursive;
}

h2{
    color: #3046C5;
}

header h2{
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(rgb(214, 205, 206), white);
    padding: 20px 0;
}

.jumbotron{
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #EEBABC, rgb(117, 133, 223), rgb(84, 40, 90));
    color: white;
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    min-height: 200px;
}
header li{
    font-family: "Lobster", cursive;
    background-image: linear-gradient(#CEC8FF, rgb(148, 137, 196));
    padding: 10px;
    color: white;
}

.navbar{
    background-color: #2e2c2c;
}
.tab-content{
    border: 1px      #DDD;
    border-top: none;
    padding: 10px;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel{
    border: 1px solid grey;
}
.img-thumbnail{
    background-color: black;
    border: 1px solid grey;
}
.card-body{
    color: black;
}